*.o
*.obj
*.pdb
*.old
*.tmp
*.bak
*.zip
*.gz
tmp*
xxx*
blib*
pm_to_blib*
META.yml
MYMETA.yml
META.json
MYMETA.json
Makefile
Makefile.old
MANIFEST.bak
MANIFEST
Crypt-JWT-*
Crypt-KeyWrap-*